body{
 	font-family: 'Raleway', sans-serif;
 }
.bg-header {
  background: url(images/golden-gate-1.jpg?#) center center no-repeat;
  background-attachment: fixed;
}
.bg-body{
	opacity:0.7;
	background:  url(images/pink-gate.jpg?#) center center no-repeat;
}
.bg-coit-tower{
	background: url(images/coit-tower.jpg?#) center center no-repeat;
	background-attachment: fixed;
}
.bg-footer{
	background: url(images/golden-gate-3.jpg?#) center center no-repeat;
	background-attachment:fixed;
}
.bg-gallery{
	background: url(images/golden-gate-vid.mp4);
}
.bg-lombard{
	background: url(images/lombard.jpg?#) center center no-repeat;
}
.bg-painted-ladies{
	background: url(images/painted-ladies.jpg?#) center center no-repeat;
}
.bg-quote {
	background: url(images/cable-car.jpg?#) center center no-repeat;
	background-attachment: fixed;
}
.bg-tab{
	background: rgba(255,255,255, .5)
}
.bg-text{
	background: rgba(0,0,0, .7);
}
.dropdown-nav, .link, .link-hover {
	display: inline-block;
	text-decoration: none;
}
.dropdown-content {
	display: none; 
 	position: absolute;
 	padding:10px;
 	background: rgba(245,177,177)
}
.dropdown-nav:hover .dropdown-content{
	display: inline-block;
}
.dropdown-content .link{
	display: block;
}
.link:hover {
	color:white;
}
.list-reset{
	text-decoration: none;
}


<!----------Gallery---------->
.video-title {
  background: #000;
}

@media only screen and (min-width : 768px) {
  /**
   * Parallax
   */
  .parallax-container {
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100vh;
    overflow-x: hidden;
  }
  
  .parallax {
    display: flex;
    flex: 1 0 auto;
    position: relative;
    height: 100vh;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
  }
  
  .content {
    display: block;
    position: relative;
    background-color: white;
    z-index: 1;
  }
 
  /**
   * Video Player
   */
  .video-wrapper {
    height: 100vh;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .video-wrapper video {
    height: auto;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
      top: 50%;
      left: 50%;
    transform: translate(-50%,-50%);
    width: auto;
  }

  .video-title {
/*     background-color: rgba(0,0,0, .7); */
    position: absolute;
      top: 50%;
      left: 50%;
    transform: translateX(-50%);
    z-index: 99;
  }
}