/**
 * Custom CSS
 *
 * Add this to your Tailwind CSS file,
 * or to a separate, custom CSS file.
 *
 * Update the background images to suit
 * your project.
 */
 body{
 	font-family: 'Raleway', sans-serif;
 }
.bg-header {
  background: url(images/golden-gate-1.jpg?#) center center no-repeat;
  background-attachment: fixed;
}
.bg-body{
	opacity:0.7;
	background:  url(images/pink-gate.jpg?#) center center no-repeat;
}
.bg-coit-tower{
	background: url(images/coit-tower.jpg?#) right center no-repeat;
}
.bg-footer{
	background: url(images/golden-gate-3.jpg?#) center center no-repeat;
	background-attachment:fixed;
}
.bg-lombard{
	background: url(images/lombard.jpg?#) center center no-repeat;
}
.bg-painted-ladies{
	background: url(images/painted-ladies.jpg?#) center center no-repeat;
}
.bg-quote {
	background: url(images/cable-car.jpg?#) center center no-repeat;
	background-attachment: fixed;
}
.bg-tab{
	background: rgba(255,255,255, .5)
}
.dropdown-nav, .link, .link-hover {
	display: inline-block;
	text-decoration: none;
}
.dropdown-content {
	display: none; 
 	position: absolute;
 	padding:10px;
 	background: rgba(255,255,255)
}
.dropdown-nav:hover .dropdown-content{
	display: inline-block;
}
.dropdown-content .link{
	display: block;
}
.link:hover {
	color:white;
}
.list-reset{
	text-decoration: none;
}
